@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    min-height: 100vh;           /* Body fills full screen height */
    display: flex;               /* Make body a flex container */
    justify-content: center;     /* Horizontal center */
    align-items: center;         /* Vertical center */
    flex-direction: column;      /* So attribution stays below */

    position: relative;
    background-color: hsl(0, 0%, 8%);
    text-align: center;
    color: hsl(0, 0%, 100%);
}

section {
    width: 80vw;
}

span {
    color: red;
}

.address-text {
    color: hsl(75, 94%, 57%);
}

.attribution {
    margin-top: 5vh;
}

.container {
    border-radius: 5px;
    background-color: hsl(0, 0%, 12%);
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 33vh;
    justify-content: space-evenly;
}

.profile-image {
    width: 90px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.profile .social-link {
    border-radius: 5px;
}

.profile {
    max-width: 100vw;
    padding: 20px;
}

.social-link a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
}

.social-link {
    padding: 15px 0;
    background-color: hsl(0, 0%, 20%);
}

.social-link:hover {
    background-color: hsl(75, 94%, 57%);
}

.social-link:hover a {
    color: hsl(0, 0%, 8%);
}

/* MEDIA QUERIES */
@media (min-width: 528px) {
    .container {
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1440px) {
    .container {

    }
}